/*==================================
               Root
==================================*/
:root
{
  --popup-scale: 1.05;
  --duration-value: 0.3s;
  --border-radius-value: 20px;
  --box-shadow-value: 0px 0px 10px rgba(0,0,0,0.4);

  --card-item-width: 230px;
  --card-item-height: 300px;
  --card-item-margin: 0 auto 0 auto;

  --card-item-img-width: 220px;

  --footer-height: 18px;
}

/*==================================
               Body
==================================*/
body
{
  /* For Ajax Load */
  visibility: hidden;

  background-repeat: no-repeat;
  background-size: 100%;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  background-attachment: fixed;
  
  background-color: #F4F5F7;
  font-family: Arial, Helvetica, sans-serif;
}

/*==================================
             Logo Image
==================================*/
.logo
{
  background: url(DX9-Team.png) no-repeat;
  margin: 0 auto;

  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
}
.large
{
  width: calc(1960px / 2);
  height: calc(1410px / 2);
  background-size: calc(1960px / 2);
}
.big
{
  width: calc(1960px / 3);
  height: calc(1410px / 3);
  background-size: calc(1960px / 3);
}
.mini
{
  background: url("DX9-Team.png") no-repeat;
  transition-duration: 0.3s;
  margin: -10px 0 20px 0;
  
  width: calc(1960px / 12);
  height: calc(1410px / 12 - 20px);
  background-size: calc(1960px / 12);

  position: relative;
  top: 24px;
  right: 20px;
}
.notsupport-img
{
  background: url(DX9-Team.png) no-repeat;
  width: 592px;
  height: 337px;
  background-size: 592px;
  margin: 0 auto;
  transform: scale(0.5);
}

/*==================================
              Header
==================================*/
header
{
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 100%;
  height: 250px;
  margin: 0 auto;
  z-index: -1;
  background: transparent;
}

/*==================================
            パンくずリスト
==================================*/
.breadcrumb
{
  padding: 8px 0 0 calc(50% - 600px);
  text-align: left;
  list-style: none;

  margin: 0;
  width: 100%;
  height: 28px;
  background: #283593;
}
.breadcrumb li
{
  display: inline;
  list-style: none;
}
.breadcrumb li:after
{
  content: '>';
  padding: 0 0.2em;
  color: white;
}
.breadcrumb li:last-child:after
{
  content: '';
}
.breadcrumb li a
{
  text-decoration: underline;
  color: white;
}
.breadcrumb li a:hover
{
  text-decoration: none;
}
.breadcrumb span
{
  color: white;
}

/*==================================
          Iframe Contents
==================================*/
iframe
{
  margin: 10px auto;
  border-radius: 16px;
  border: none;
  border-style: none;
  outline: none;
  box-shadow: var(--box-shadow-value);
  max-width: 100vw;
}

/*==================================
          ページ上部に戻る
==================================*/
.moveToTop
{
  width: 50px;
  height: 50px;
  background: url("https://image.flaticon.com/icons/png/512/61/61769.png");
  background-size: 100%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition-duration: 0.3s;
  transform: scale(0);
}

/*==================================
              Footer
==================================*/
footer
{ 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: #373737;
  width: 80vw;
  height: 48px;
  text-align: center;
  margin: 0 auto;
  color: #9b9b9b;
  font-weight: bold;
  border-radius: 25px 25px 0 0;
  font-size: 16px;
}
footer i
{
  font-size: 13.5px;
}

/*==================================
     ゲーム科トップに戻るボタン
==================================*/
a.back-top-top
{
  color: white;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
  width: 160px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  margin: 0 auto 60px;
  text-decoration: none;
  padding-top: 5px;
}
a.back-top-top:hover
{
  margin-top: 3px;
  color: white;
  background: #f56500;
  border-bottom: 2px solid #b84c00;
}
a.back-top-top
{
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

/*==================================
          アンケートボタン
==================================*/
a.google-form-btn
{
  color: white;
  background-color: #673ab7;
  border-bottom: 5px solid #3e2569;
  width: 160px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  margin: 0 auto 20px;
  text-decoration: none;
  padding-top: 5px;
}
a.google-form-btn:hover
{
  margin-top: 3px;
  color: white;
  background: #7c44db;
  border-bottom: 2px solid #3e2569;
}
a.google-form-btn
{
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

/*==================================
             Scrollbar
==================================*/
::-webkit-scrollbar
{
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track
{
  background: #8e8e8e;
}
::-webkit-scrollbar-thumb
{
  background: #373737;
  border-radius: 50px;
}

/*==================================
            For Mobile
==================================*/
@media screen and (max-width: 480px)
{
  .big, .large
  {
    width: 90vw;
    height: 50vw;
    background-size: 90vw;
    margin: 0 auto !important;
  }
  .moveToTop
  {
    display: none;
  }
  header
  {
    height: 75vw;
    background-size: auto 75vw;
  }
  
  footer
  {
    height: 8vw;
    font-size: 4vw;
  }
}
