nav
{
  text-align: center;
  margin-bottom: 40px;
  margin: 0 auto;
  border-radius: 25px;
}
nav ul
{
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
}
nav li
{
  list-style: none;
  display: inline-block;
  width: 250px;
  margin-left: -7px;
}
nav li.current
{
  border-bottom: darkorange solid 3px;
}
nav li:not(:first-child)
{
  border-left: 3px solid #aaa;
}
nav li:not(:last-child)
{
  border-right: 3px solid #aaa;
}
nav a
{
  text-decoration: none;
  color: #aaa;
  font-size: 18px;
  font-weight: bold;
  margin-left: 2px;
  transition-duration: 0.1s;
}
nav .current a
{
  color: black;
}
nav .tab a:hover
{
  color: darkorange;
  cursor: pointer;
}

.mobile-nav, .mobile-nav-menu
{
  display: none;
}

@media screen and (max-width: 480px)
{
  .mobile-nav
  {
    display: block;
    margin: 0 auto;
    font-size: 48px;
    color: darkorange;
    text-align: center;
  }
  .mobile-nav p
  {
    font-size: 14.4px;
    font-weight: bold;
    margin: -6px auto;
  }
  .mobile-nav-icon
  {
    transition-duration: 0.3s;
  }
  .mobile-nav-icon.close
  {
    transform: rotateZ(0deg);
  }
  .mobile-nav-icon.open
  {
    transform: rotateZ(90deg);
  }
  .mobile-nav-menu
  {
    transition-duration: 0.3s;
    width: 100vw;
    text-align: center;
    display: block;
  }
  .mobile-nav-menu a
  {
    color: #aaa;
    text-decoration: none;
    font-weight: bold;
  }
  .mobile-nav-menu a.current
  {
    color: black; 
  }
  .mobile-nav-menu.close
  {
    visibility: hidden;
    height: 0;
    font-size: 0;
  }
  .mobile-nav-menu.open
  {
    visibility: visible;
    height: 20vw;
    font-size: 20px;
  }
  .mobile-nav-bar
  {
    display: block;
    width: 40vw;
    height: 5px;
    background: lightgray;
    margin: 40px auto;
    border-radius: 50px;
  }
  nav
  {
    display: none;
  }
  nav a
  {
    font-size: 24px;
  }
  nav li:not(:first-child)
  {
    border: none;
  }
  nav li:not(:last-child)
  {
    border: none;
  }
  nav li:first-child
  {
    border-bottom: #aaa solid 3px;
  }  
}